* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(53, 188, 122);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 3%;
    font-weight: bold;
}

input {
    width: 50%;
    height: 35px;
    margin: 2%;
}

textarea {
    margin: 2%;
}

#button {
    background-color: rgb(53, 188, 122);
    border: 3px solid white;
    color: white;
    font-size: 1.5em;
    width: 50%;

}

#button:hover {
    background-color: rgb(255, 158, 1);
    cursor: pointer;
}

@media screen and (max-width: 375px) {
    #button {
        font-size: 1em;
        
    }
}