* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex: row;
    height: 520px;
    background-color: rgb(248, 105, 37);
}

main {
    width: 75%;
    height:100%;
}

div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

#row-one {
    display: flex;
    justify-content: space-between;
}



header {
    width: 58%;
    background-color: rgb(53, 188, 122);
    padding: 5%;
}

article {
    width: 34%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
#profile {
    background-color: rgb(255, 158, 1);
}
#experience {
    background-color: rgb(30, 139, 196);
}
#education {
    background-color: rgb(241, 90, 73);
}
#blog {
    background-color: rgb(53, 188, 122);
}
#social-menu {
    background-color: rgb(248, 105, 37);
}
#contact {
    background-color: rgb(30, 139, 196);
}
#portfolio {
    background-color: rgb(248, 105, 37);
}
aside {
    width: 25%;
    height: 100%;
}

#buttons {
    margin-top: 5%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button {
    background-color: rgb(53, 188, 122);
    border: 3px solid white;
    color: white;
    padding : 10%;
}
button:hover {
    background-color: rgb(255, 158, 1);
    cursor: pointer;
}

/* textes */
h1, p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-bottom: 2%;
}

i {
    color: white;
}

/* font awesome */
.fas, .far, p{
    display: flex;
    align-self: center;
    margin: auto;
}
a {
    margin: auto;
    text-decoration: none;
    color: white;
    width: 100%;
}

/* Gallery - en attente */
img {
    width:100%;
}

/* media queries */

@media screen and (max-width: 980px) {
    img, aside {
        display: none;
    }
    main {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.25em;
    }
    .description{
        font-size: 0.75em;
    } 
    i {
        font-size: 0.75em;
    }
}

@media screen and (max-width: 375px) {
    #buttons {
        display: none;
    }
}